*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-inline: min(6%, 14.875rem);

  margin-inline: auto;
  max-width: 90rem;
}

.flex {
  display: flex;
  align-items: center;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.header {
  margin-top: clamp(32px, 5vw, 64px);
}

.checkout {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 2.25rem);
  line-height: 44px;
  color: #4e5150;
}

.main {
  flex-direction: column;
}

.biling {
  margin-top: clamp(39px, 10vw, 60px);
  order: 2;
}

.billing-title {
  font-size: clamp(0.88rem, 0.79rem + 0.38vw, 1.13rem);
  line-height: 17px;
  color: #333333;
}

.cta-container {
  flex-direction: column;
}

.cta-container label {
  margin: 0.8125rem 0 0.4375rem 0;
  align-self: flex-start;
  font-size: 0.6875rem;
  line-height: 15px;
  color: #4f4f4f;
}

.input-container {
  width: 100%;
  position: relative;
}

.email__input {
  width: 100%;
  max-width: 29.0625rem;
  padding: 12px clamp(39px, 5vw, 52px);
  font-size: clamp(0.75rem, 0.66rem + 0.38vw, 1rem);
  line-height: 15px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  color: #000;
  outline: none;
  background-color: #fff;
}

.input-icon {
  position: absolute;
  left: 0.875rem;
  color: #828282;
}

.address {
  margin-top: clamp(45px, 5vw, 58px);
}

/* ordered-items */

.ordered-items {
  padding-inline: clamp(15px, 4vw, 30px);
  order: 1;
  background: #f2f2f2;
  border-radius: 12px;
  max-width: 23.9375rem;
}

.item {
  margin-top: 1.875rem;
  gap: clamp(15px, 4vw, 30px);
}

.item__image {
  height: 136.27360581579214px;
  width: 134.20564316218895px;
  border-radius: 13px;
}

.item__name {
  margin-bottom: 0.375rem;
  font-size: clamp(0.75rem, 0.66rem + 0.38vw, 1rem);
  line-height: 15px;
  color: #4e5150;
}

.item__discounted-price {
  margin-right: 0.5rem;
  font-size: 15px;
  line-height: 17px;
  color: #f2994a;
}

.item__original-price {
  font-size: 0.625rem;
  line-height: 0.6875em;
  text-decoration-line: line-through;
  color: #4e5150;
}

.item__piece {
  text-align: center;
  height: 3.125rem;
  width: 100%;
  max-width: 158px;
  border-radius: 12px;
  border: 1px solid #828282;
  outline: none;
}

.number {
  margin-top: 2.5rem;
}

.number .material-icons {
  margin-inline: 0.625rem;
  background: #e0e0e0;
  border-radius: 4px;
  color: #828282;
  cursor: pointer;
}

.material-icons--add {
  right: 0;
}

.costs {
  margin: 1.5rem 0.9375rem;
  margin-inline: 0.9375rem;
}

.shipping,
.total {
  border-top: 1px solid #bdbdbd;
  justify-content: space-between;
}

.costs__name {
  padding-block: 0.625em;
  font-size: clamp(0.88rem, 0.79rem + 0.38vw, 1.13rem);
  color: #333333;
}

.costs__price {
  font-size: 0.875rem;
  color: #333333;
}

button {
  float: right;
  margin-top: clamp(20px, 2.5vw, 2.5rem);
  padding: 1.0625rem 2.8125rem;
  font-size: 16px;
  line-height: 20px;
  background: #f2994a;
  border-radius: 12px;
  color: #ffffff;
  border: none;
}

@media (min-width: 62.5rem) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }

  .biling {
    order: 1;
  }
}
