$fs-medium: 1.125rem;

.info {
  width: 100%;
  margin-top: 70px;
  padding: 22px;
  overflow: hidden;
  gap: 2.125rem;
  justify-content: center;
  flex-wrap: wrap;
  .male img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  .details {
    align-self: baseline;
    .contacts {
      justify-content: space-between;
      flex-wrap: wrap;
      .name span {
        font-size: $fs-medium;
      }
      .contact {
        span {
          font-size: $fs-medium;
          line-height: 1.875rem;
        }
        span i {
          margin-right: 1.125rem;
        }
      }
    }
    .intro {
      margin-top: 2.3125rem;
      max-width: 41.1875rem;
      font-size: $fs-medium;
    }
  }
}
