.skills {
  max-width: 26rem;
  padding: 1.5rem;
  .skill > * {
    margin-top: 15px;
  }
  .skill {
    justify-content: space-between;
    .skill-container {
      width: 236.85px;
      background-color: #c4c4c4;
      .skill-level {
        text-align: right;
        height: 10px;
        color: white;
      }
      .react {
        width: 60%;
      }
      .javascript {
        width: 80%;
      }
      .css {
        width: 90%;
      }
      .vue {
        width: 50%;
      }
      .redux {
        width: 70%;
      }
      .react-native {
        width: 95%;
      }
    }
  }
}
