/* CSS Reset Link : https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100vh;
}
body {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: auto;
  max-width: 80rem;
}

.header .error {
  margin-top: 0;
  padding-top: max(2vw, 20px);
  padding-left: 1.5rem;
  font-family: "Inconsolata", monospace;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}

.hero {
  padding-top: clamp(64px, 5vw, 200px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.hero-image {
  width: max(286.83px, 539.22px);
}

.hero-title {
  margin: 0;
  max-width: 36.75rem;
  font-size: clamp(42px, 4vw, 64px);
  line-height: clamp(71px, 5vw, 95px);
}

.right-side {
  margin-inline: clamp(30px, 3.5vw, 120px);
}
.hero-text {
  margin-top: 15px;
  margin-bottom: 80px;
  max-width: 381px;
  font-size: clamp(18px, 1.3vw, 24px);
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.hero-link {
  padding: 23px 43px;
  text-decoration: none;
  color: #fff;
  background-color: #333333;
  text-transform: uppercase;
}

footer * {
  margin-top: 114px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #bdbdbd;
}
footer p a {
  font-weight: bolder;
}
